
registry = https://mirrors.tools.huawei.com//npm/
always-auth = false
CYPRESS_INSTALL_BINARY=/mnt/openwebui-rag/yangjing/atools/cypress.zip
sass_binary_site=http://mirrors.tools.huawei.com/node-sass
phantomjs_cdnurl=http://mirrors.tools.huawei.com/phantomjs
@hw-seq:registry=http://cmc.centralrepo.rnd.huawei.com/artifactory/api/npm/product_npm/
node_tls_reject_unauthorized=0
strict-ssl=false
no-proxy=.huawei.com

#no-proxy=.huawei.com
#registry=https://registry.npmjs.org
proxy=http://y00842095:liqing321**@proxyhk.huawei.com:8080/
https-proxy=http://y00842095:liqing321**@proxyhk.huawei.com:8080/
#strict-ssl=false
